<template>
	<view class="bg" :style="{height:screenHeight + 'px'}">
		<view class="big_box">
			<view class="box3">

				<view class="box">
					<view class="box_topBig">
						<view class="top">
							<view class="top_box">
								<view class="top_box1">
									<view class="top_gang"></view>
									<text class="font">兑换</text>
								</view>

							</view>
							<u-input border="surround" v-if="zhuanHuan" placeholder="请输入金额"
								v-model.number="content.evfValue" color="#ffffff">
								<view slot="suffix">
									<view class="input_box">
										<text class="input_wenzi">最大</text>
										<view class="input_xian"></view>
										<view class="img_input"></view>
										<text class="input_usdt">EVF</text>
										<u-icon name="arrow-down-fill" color="#D8E1FF" size="28"></u-icon>

									</view>
								</view>
							</u-input>
							<u-input border="surround" v-if="classStr" placeholder="兑换后的金额"
								v-model.number="content.btcValue" color="#ffffff">
								<view slot="suffix">
									<view class="input_box">
										<view class="input_xian"></view>
										<view class="img2_input"></view>
										<text class="input_usdt">BTC</text>
										<u-icon name="arrow-down-fill" color="#D8E1FF" size="28"></u-icon>
									</view>
								</view>
							</u-input>
							<view class="top_you" v-if="zhuanHuan">
								<view class="top_you_left">
									<text class="wenzi">本账户：</text>
									<text class="shuliang">{{balance_of_account}} EVF</text>
								</view>
								<view class="top_you_right">
									<text class="huanzhuan">划转</text>
									<view class="top_you_right_tu"></view>
								</view>
							</view>
						</view>
						<view class="content">
							<view class="content_tu" @click="transform"></view>
						</view>
						<view class="bottom">
							<view class="top_box1">
								<view class="top_gang"></view>
								<text class="font">兑换为</text>
							</view>

							<u-input border="surround" placeholder="请输入金额" v-if="classStr"
								v-model.number="content.btcValue/jiage" color="#ffffff">
								<view slot="suffix">
									<view class="input_box">
										<text class="input_wenzi">最大</text>
										<view class="input_xian"></view>
										<view class="img_input"></view>
										<text class="input_usdt">EVF</text>
										<u-icon name="arrow-down-fill" color="#D8E1FF" size="28"></u-icon>

									</view>
								</view>
							</u-input>

							<view class="top_you" v-if="classStr">
								<view class="top_you_left">
									<text class="wenzi">本账户：</text>
									<text class="shuliang">{{balance_of_account}} EVF</text>
								</view>
								<view class="top_you_right">
									<text class="huanzhuan">划转</text>
									<view class="top_you_right_tu"></view>
								</view>
							</view>

							<u-input border="surround" placeholder="兑换后的金额" v-if="zhuanHuan"
								v-model.number="content.evfValue*jiage" color="#ffffff">
								<view slot="suffix">
									<view class="input_box">
										<view class="input_xian"></view>
										<view class="img2_input"></view>
										<text class="input_usdt">BTC</text>
										<u-icon name="arrow-down-fill" color="#D8E1FF" size="28"></u-icon>
									</view>
								</view>
							</u-input>
						</view>
					</view>
					<view class="top_you1">
						<view class="top_you_bottom">
							<text class="tishi">提示：</text>
							<text class="yuyan">仅游戏账户资金支持兑换,其他账户你可通过划账到游戏账户后再进行兑换</text>
						</view>
					</view>
					<view class="btn_box">
						<button class="btn" v-if="zhuanHuan" @click="btnClk">兑换BTC</button>
						<button class="btn" v-if="classStr" @click="btnClk">兑换EVF</button>
					</view>
					
					<view class="evf_box" v-if="zhuanHuan">
						<text>预估值：</text>
						<text>{{content.evfValue}} EVF ≈{{content.evfValue*jiage}} BTC</text>
					</view>
					<view class="evf_box" v-if="classStr">
						<text>预估值：</text>
						<text>{{content.evfValue*jiage}} BTC ≈{{content.evfValue}} EVF</text>
					</view>
				</view>
			</view>
		</view>

		<u-popup :show="show" mode="bottom" @close="close" bgColor="#0d1d45FF" :safeAreaInsetTop="true">
			<view class="popup_height">
				<view class="popup_height_box">
					<view class="popup_que">确认兑换</view>
					<view class="popup_duihuan">兑换为</view>
					<view class="popup_usdt" v-if="zhuanHuan">{{ content.evfValue }} EVF</view>
					<view class="popup_usdt" v-if="classStr">{{ content.btcValue }} BTC</view>
				</view>
				<view class="popup_conten">
					<view class="popup_conten_top"  v-if="zhuanHuan">
						<view class="popup_conten_left">兑换</view>
						<view class="popup_conten_right">{{content.evfValue*jiage}} BTC</view>
					</view>
					<view class="popup_conten_top"  v-if="classStr">
						<view class="popup_conten_left">兑换</view>
						<view class="popup_conten_right">{{content.btcValue/jiage}} EVF</view>
					</view>


					<view class="popup_conten_bottom" v-if="zhuanHuan">
						<view class="popup_bottom_left">兑换比例</view>
						<view class="popup_bottom_right">{{content.btcValue}} BTC ≈{{content.evfValue/jiage}} EVF</view>
					</view>
					<view class="popup_conten_bottom" v-if="classStr">
						<view class="popup_bottom_left">兑换比例</view>
						<view class="popup_bottom_right">{{content.btcValue/jiage}} EVF ≈{{content.btcValue}} BTC</view>
					</view>
				</view>
				<view class="btn_big_box">
					<button class="canxel" @click="cancelClk">取消</button>
					<button class="queding" @click="flashClk">兑换</button>
				</view>
			</view>
		</u-popup>
		<!-- 提示框 -->
		<u-notify ref="uNotify" message="已取消兑换"></u-notify>
	</view>

</template>

<script>
	import { TronLinkAdapter } from '@tronweb3/tronwallet-adapters';
	import { WalletError } from '@tronweb3/tronwallet-abstract-adapter';
	import { useWallet, WalletProvider } from '@tronweb3/tronwallet-adapter-react-hooks';
	import { WalletDisconnectedError, WalletNotFoundError } from '@tronweb3/tronwallet-abstract-adapter';
	export default {
		data() {
			return {
				content: {
					evfValue: 0,
					btcValue: 0,
				},
				classStr: false,
				show: false,
				//适配移动端可视高度
				screenHeight: '',
				adapter: '',
				balance_of_account: 1, // 查询钱包余额
				address: null,
				tronWeb: null,
				zhuanHuan: true,
				jiage: Number(1),
				spender_address: "THJtVFPQmN2RD31JUc4sur8QfJ6vzBzcVv", //兑换合约
				evfHeyue: "TM9wvE7CzqZaK9GfBNttXLenq8fhJYzBFm" ,// evf兑换合约
				btcHeyue : "TNjUnXkEV8XoUexamwaWd2Kgk5Z64epFBC" // btc兑换合约
			};
		},
		created() {
			// 价格
			this.price()
			// 账户余额
			this.getBalance()

			// evf 转 btc
			// this.EvfToBtc()
			// btc 转 evf
			// this.BtcToEvf()
			this.adapter = new TronLinkAdapter();
			this.adapter.on('connect', () => {
				console.log('connect');
			});
			this.linkWallet()
		},
		mounted() {
			if (window.tronWeb) {
				this.tronWeb = window.tronWeb;
				this.address = this.tronWeb.defaultAddress.base58;
			}
			console.log(this.address);
		},
		beforeDestroy() {
			this.adapter.removeAllListeners();
		},
		onLoad() {
			this.screenHeight = uni.getSystemInfoSync().windowHeight
		},
		onReady() {

		},
		methods: {
			// 连接钱包
			linkWallet() {
				if (window.tronWeb) {
					this.tronWeb = window.tronWeb;
					this.address = this.tronWeb.defaultAddress.base58;
					console.log('钱包地址', this.tronWeb.defaultAddress.base58)
				}
			},
			//查询钱包余额
			async getBalance() {
				//当前连接的钱包地址获取 window.tronWeb.defaultAddress.base58
				// 获取合约实例
				const contract = await window.tronWeb.contract().at(this.evfHeyue);
				// 查询余额
				const balance = await contract.balanceOf(this.address).call();
				this.balance_of_account = parseInt(balance.toString(10)) / 100000000
			},
			// 价格
			async price() {
				// 价格   1evf = btc数量
				const contract = await window.tronWeb.contract().at(this.spender_address);
				// 调用方法
				if (!contract['evfPrice']) {
					throw new Error('Method does not exist on the contract.');
				};
				let result = await contract['evfPrice']().call({});
				this.jiage = parseInt(result.toString(10)) / 100000000
			},
			// EvfToBtc
			async EvfToBtc() {
				const contract = await window.tronWeb.contract().at(this.spender_address);
				const options = {
					// feeLimit: 1000000000, // 最大费用限制
					// callValue: 0,     // TRX 要发送到合约的数量，通常为 0 除非合约需要 TRX
					// shouldPollResponse: true // 是否应该等待确认
				};
				// 合约
				const tx = await contract['EvfToBtc'](this.content.evfValue * 1e8).send(options);
				console.log(tx);
				this.$refs.uNotify.show({
					top: 10,
					type: 'error',
					color: '#fff',
					bgColor: '#5ac725',
					message: `交易已广播`,
					duration: 1000 * 3,
					fontSize: 20,
					safeAreaInsetTop: true
				});
				let url =  `https://shasta.tronscan.org/#/transaction/${tx}`
				window.open(url)
				this.content = {
					evfValue: 0,
					btcValue: 0
				}
			},
			// BtcToEvf
			async BtcToEvf() {
				const contract = await window.tronWeb.contract().at(this.spender_address);
				const options = {
					// feeLimit: 1000000000, // 最大费用限制
					// callValue: 0,     // TRX 要发送到合约的数量，通常为 0 除非合约需要 TRX
					// shouldPollResponse: true // 是否应该等待确认
				};
				const tx = await contract['BtcToEvf'](12000000).send(options)
				let url =  `https://shasta.tronscan.org/#/transaction/${tx}`
				window.open(url)
			},
			// 转换按钮
			transform() {
				// false
				this.classStr = !this.classStr
				// true
				this.zhuanHuan = !this.zhuanHuan
			},
			async btnClk() {
				this.show = true
				const contract = await window.tronWeb.contract().at(this.spender_address);
				// 调用方法
				if (!contract['evfPrice']) {
					throw new Error('Method does not exist on the contract.');
				};
				// 判断合约是否开启
				let result = await contract['isOpen']().call({});
				// 判断输入框为0
				if(this.classStr == true){
					if (this.content.btcValue == 0) {
						this.$refs.uNotify.show({
							top: 10,
							type: 'error',
							color: '#fff',
							bgColor: '#5ac725',
							message: '兑换金额不可为零',
							duration: 10000 * 3,
							fontSize: 20,
							safeAreaInsetTop: true
						})
					}
					// 判断合约是否开启
					if (!result) {
						this.$refs.uNotify.show({
							top: 10,
							type: 'error',
							color: '#fff',
							bgColor: '#5ac725',
							message: '兑换功能尚未开启',
							duration: 10000 * 3,
							fontSize: 20,
							safeAreaInsetTop: true
						})
					
					}
					// console.log(this.balance_of_account , this.content.evfValue);
					// 判断兑换金额不可超出余额
					if (this.balance_of_account < this.content.btcValue) {
						this.$refs.uNotify.show({
							top: 10,
							type: 'error',
							color: '#fff',
							bgColor: '#5ac725',
							message: '兑换金额不可超出余额',
							duration: 10000 * 3,
							fontSize: 20,
							safeAreaInsetTop: true
						})
					}
				} else{
					if (this.content.evfValue == 0) {
						this.$refs.uNotify.show({
							top: 10,
							type: 'error',
							color: '#fff',
							bgColor: '#5ac725',
							message: '兑换金额不可为零',
							duration: 10000 * 3,
							fontSize: 20,
							safeAreaInsetTop: true
						})
					}
					// 判断合约是否开启
					if (!result) {
						this.$refs.uNotify.show({
							top: 10,
							type: 'error',
							color: '#fff',
							bgColor: '#5ac725',
							message: '兑换功能尚未开启',
							duration: 10000 * 3,
							fontSize: 20,
							safeAreaInsetTop: true
						})
					
					}
					// console.log(this.balance_of_account , this.content.evfValue);
					// 判断兑换金额不可超出余额
					if (this.balance_of_account < this.content.evfValue) {
						this.$refs.uNotify.show({
							top: 10,
							type: 'error',
							color: '#fff',
							bgColor: '#5ac725',
							message: '兑换金额不可超出余额',
							duration: 10000 * 3,
							fontSize: 20,
							safeAreaInsetTop: true
						})
					}
				}
				
			},
			close() {
				this.show = false
			},
			// 取消兑换
			cancelClk() {
				this.show = false
				console.log(this.showTip);
				this.$refs.uNotify.show({
					top: 10,
					type: 'error',
					color: '#fff',
					bgColor: '#e45656',
					message: '已取消兑换',
					duration: 10000 * 3,
					fontSize: 20,
					safeAreaInsetTop: true
				})
			},
			async flashClk() {
				// evf已授权数量
				// const evfcontract = await window.tronWeb.contract().at(this.evfHeyue);
				// const tx1 = await evfcontract['allowance'](this.address, this.spender_address).call({});
				// console.log("已授权数量", tx1);
				// if (tx1 < this.content.evfValue * 100000000) {
				// 	const tx1 = await evfcontract['approve'](this.spender_address, 210000000000000).send({});
				// }
				// console.log("EvfToBtc",222);
				
				if(this.classStr == true){
					this.BtcToEvf()
					// btc已授权数量
					const btccontract = await window.tronWeb.contract().at(this.btcHeyue);
					const tx1 = await btccontract['allowance'](this.address, this.spender_address).call({});
					console.log("已授权数量", tx1);
					if (tx1 < this.content.btcValue * 100000000) {
						const tx1 = await btccontract['approve'](this.spender_address, 210000000000000).send({});
					}
					console.log("BtcToEvf",111);
				}else {
					this.EvfToBtc()
					const evfcontract = await window.tronWeb.contract().at(this.evfHeyue);
					const tx1 = await evfcontract['allowance'](this.address, this.spender_address).call({});
					console.log("已授权数量", tx1);
					if (tx1 < this.content.evfValue * 100000000) {
						const tx1 = await evfcontract['approve'](this.spender_address, 210000000000000).send({});
					}
					console.log("EvfToBtc",222);
				}
				// this.$refs.uNotify.show({
				// 	top: 10,
				// 	type: 'error',
				// 	color: '#fff',
				// 	bgColor: '#5ac725',
				// 	message: '交易已广播',
				// 	duration: 1000 * 3,
				// 	fontSize: 20,
				// 	safeAreaInsetTop:true
				// })
				this.show = false
			}
		},
	};
</script>
<style lang="scss">
	.inputCss1 {
		background-color: red;
		// margin-top: 156px;
	}

	.inputCss2 {
		background-color: blue;
		// margin-top: -156px;
	}

	.big_box {
		width: 100%;
		// height: 85.8vh;
		background-color: #121E3D;
		padding: 17px 0px 0px 0px;
	}

	.bg {
		width: 100%;
		// height: 85.8vh;
		background-color: #121E3D;
		background: url('../../static/box_blue_960@2x.png') no-repeat;
		background-size: cover;
	}

	.box {
		width: 708rpx;
		height: 485rpx;
		background: #0D1D45;
		border-radius: 12rpx;
		border: 1px solid #8a9bcdFF;
		margin: 0 auto;
		padding: 30rpx 0 60rpx 0;
	}

	.top_box {
		width: 50px;
		display: flex;
		align-items: center;
	}

	.top_box1 {
		display: flex;
		align-items: center;
		margin: 20px auto;
	}

	.top_gang {
		content: "";
		width: 5px;
		height: 15px;
		background-color: #30E1F9;
	}

	.font {
		padding-left: 5px;
		font-size: 30rpx;
		color: #B6C7FC;
	}

	.box_topBig {
		margin: -16px 10px 0px 10px;
	}

	.input_box {
		display: flex;
		align-items: center;
	}

	.input_xian {
		content: "";
		width: 4rpx;
		height: 30rpx;
		background-color: #B6C7FC;
		margin-right: 10rpx;
	}

	.input_wenzi {
		font-size: 26rpx;
		color: #30E1F9;
		margin-right: 10rpx;
	}

	.input_usdt {
		color: #D8E1FF;
		font-size: 26rpx;
		margin-right: 10rpx;
	}

	.img_input {
		width: 30rpx;
		height: 30rpx;
		background: url('../../static/i_usdt@2x.png') no-repeat;
		background-size: cover;
		margin-right: 10rpx;
	}

	.top_you {
		display: flex;
		align-items: center;
		margin: 10rpx auto;
	}

	.top_you_right {
		display: flex;
		align-items: center;
		margin-left: auto;
	}

	.top_you_right_tu {
		width: 29rpx;
		height: 21rpx;
		background: url('../../static/i_copy_transfer_white@2x.png') no-repeat;
		background-size: cover;
	}

	.wenzi {
		font-size: 20rpx;
		color: #30E1F9;
		font-family: PingFang SC;
		font-weight: 400;
	}

	.shuliang {
		font-size: 20rpx;
		color: #D8E1FFFF;
		font-family: PingFang SC;
		font-weight: 400;
	}

	.huanzhuan {
		width: 50rpx;
		height: 20rpx;
		font-size: 20rpx;
		font-family: PingFang SC;
		font-weight: 500;
		color: #F8E38F;
		line-height: 26rpx;
		margin-right: 12rpx;

	}

	.content {
		display: flex;
		justify-content: center;
		margin: 20rpx 20rpx;
	}

	.content_tu {
		width: 41rpx;
		height: 41rpx;
		background: url("../../static/i_copy_exchange@2x.png") no-repeat;
		background-size: cover;
	}

	.img2_input {
		width: 30rpx;
		height: 30rpx;
		background: url('../../static/i_trx@2x.png') no-repeat;
		background-size: cover;
		margin-right: 10rpx;
	}

	.tishi {
		color: #B6C7FCFF;
		font-size: 20rpx;
	}

	.yuyan {
		color: #f8e38fFF;
		font-size: 20rpx;
	}

	uni-view.top_you_bottom {
		margin-top: 50px;
	}

	.btn_box {
		margin-top: 60rpx;
	}

	.btn {
		width: 708rpx;
		height: 88rpx;
		background: linear-gradient(0deg, #F9A718, #F8E38F);
		border-radius: 16rpx;
		color: #121e3dFF;
	}

	.popup_height {
		width: 750rpx;
		height: 550rpx;
		background: #0D1D45;
		border-radius: 24rpx 24rpx 0rpx 0rpx;
	}

	.popup_que {
		// width: 100%;
		// height: 36rpx;
		font-size: 28rpx;
		font-family: PingFang SC;
		font-weight: 500;
		color: #30E1F9;
		line-height: 36rpx;
		margin-top: 26rpx;
		text-align: center;
	}

	.popup_duihuan {
		// width: 57rpx;
		// height: 20rpx;
		font-size: 20rpx;
		font-family: PingFang SC;
		font-weight: 500;
		color: #B6C7FC;
		line-height: 26rpx;
		margin-top: 26rpx;
		text-align: center;
	}

	.popup_usdt {
		// width: 256rpx;
		// height: 28rpx;
		font-size: 36rpx;
		font-family: PingFang SC;
		font-weight: 500;
		color: #D8E1FF;
		line-height: 26rpx;
		margin-top: 26rpx;
		text-align: center;
	}

	.popup_conten {
		width: 708rpx;
		height: 125rpx;
		background: #1A2852;
		margin: 36rpx auto;
	}

	.popup_conten_top {
		display: flex;
		padding: 10rpx 10rpx 10rpx 10rpx;
	}

	.popup_conten_left {
		font-size: 24rpx;
		font-family: PingFang SC;
		font-weight: 500;
		color: #50659B;
		line-height: 32rpx;

	}

	.popup_conten_right {
		font-size: 24rpx;
		font-family: PingFang SC;
		font-weight: 500;
		color: #D8E1FF;
		line-height: 32rpx;
		margin-left: auto;
	}

	.popup_conten_bottom {
		display: flex;
		padding: 10rpx 10rpx 10rpx 10rpx;
	}

	.popup_bottom_left {
		font-size: 24rpx;
		font-family: PingFang SC;
		font-weight: 500;
		color: #50659B;
		line-height: 32rpx;

	}

	.popup_bottom_right {
		font-size: 24rpx;
		font-family: PingFang SC;
		font-weight: 500;
		color: #50659B;
		line-height: 32rpx;
		margin-left: auto;
	}

	.btn_big_box {
		display: flex;
	}

	.canxel {
		width: 342rpx;
		height: 80rpx;
		background: #1A2852;
		border-radius: 8rpx;
		line-height: 80rpx;
	}

	.queding {
		width: 342rpx;
		height: 80rpx;
		background: linear-gradient(0deg, #F9A718, #F8E38F);
		border-radius: 8rpx;
		line-height: 80rpx;
	}

	.evf_box {
		// width: 248rpx;
		height: 19rpx;
		font-size: 20rpx;
		font-family: PingFang SC;
		font-weight: 500;
		color: #B6C7FC;
		line-height: 26rpx;
		padding: 29rpx 0rpx 0rpx 0rpx;
	}

	.evf_box text :first-child {}

	.evf_box text :last-child {}
</style>