@font-face {
  font-family: "iconfont"; /* Project id 4223383 */
  src: 	url('https://at.alicdn.com/t/c/font_4223383_uyq1wixlt8a.woff2?t=1692863482346') format('woff2'),
        url('https://at.alicdn.com/t/c/font_4223383_uyq1wixlt8a.woff?t=1692863482346') format('woff'),
		url('https://at.alicdn.com/t/c/font_4223383_uyq1wixlt8a.ttf?t=1692863482346') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wendang:before {
  content: "\e666";
}

.icon-leftarrow:before {
  content: "\e624";
}

